.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #a0f8a0;

    .footer-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

        .footer-text-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            text-align: center;
        }
    }